#community-margin {
    margin-top: 3rem;
}

#community-sect {
    padding-bottom: 3rem;
}

#about-sect-2 {
    background-color:#AFD6E0;
    padding-top: 3rem;
    padding-bottom: 3rem;
    margin-bottom: 3rem;
}